.mt-n {
    margin-top: -15px;
}

.img-detail {
    height: 280px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 4px white);
}

.img-card {
    height: 140px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 4px white);
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.pointer {
    cursor: pointer;
}

.text-column-two {
    columns: 50px 2;
    height: 280px;
}


@media (max-width: 450px) {

    .w-40 {
        width: 50%;
    }
    
    .w-60 {
        width: 50%;
    }
    
}