.mt-n {
    margin-top: -15px;
}

.img-detail {
    height: 280px;
    object-fit: cover;
}

.img-card {
    height: 200px;
    object-fit: contain;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.pointer {
    cursor: pointer;
}